/***********   TEMA CLARO   *************/
    
    /******************geral******************/
    body{
        box-sizing: border-box;
    }

    /***********header********/

        .logo{
            width: 40px;
            height: 40px;
        }

        .icon-pesquisa{
            margin: 3px;
            padding: 8px;
            color: #767676;
        }

        .icon-pesquisa:active{
            border-radius: 50px;
            color: #2222;
            background-color: #ebecec;
        }

        .icon-menuhamburguer{
            width: 24px;
            height: 24px;
            color: #5f6368;
        }

        .icon-menuhamburguer:active{
            border-radius: 50px;
            background-color: #ebecec;
        }

        .keep{
            font-family: 'Product Sans',Arial,sans-serif;
            font-size: 22px;
        }

        /**************header-left***************/
        .links-menulateral{
            color: #202124;
            border-radius: 0 25px 25px 0;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: 16px;
            margin-left: 20px;
            line-height: 18px;
            font-weight: 500;
        }

        .icons-menulateral{
            width: 48px;
            height: 24px;
            color: #5f6368;
        }

        .icons-menulateral:active{
            color: #202124;
        }

        .menu-lateral{
            padding-left: 12px;
        }

        .menu-lateral:hover{
            background-color: #feefc3;
        }

        .menulateral:active{
            background-color: #f1f3f4;
        }

        /**********Notas***************/
        .notas{
            border: 1px solid transparent;
            border-radius: 8px;
        }

        .titulo-notas{
            color: #202124;
            letter-spacing: 1px;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: 1em;
            font-weight: 500;
            line-height: 1.5em;
            padding-top: 12px;
        }

        .conteudo-notas{
            color: #202124;
            letter-spacing: 1px;
            font-family: 'Roboto',Arial,sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }

        .nota-azul{
            background-color: #aecbfa;
        }

        .nota-laranja{
            color: #f28b82;
        }

        .icons-notas{
            color: #4a4a4a;
        }

        .fechar-notas{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            color: rgba(0,0,0,.87);
            letter-spacing: .01785714em;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.25rem;
            height: 36px;
            padding: 8px 24px;
        }

        .fechar-notas:hover{
            background-color: #f9f9f9;
        }

        .icons-notas:hover{
            border-radius: 50%;
            color: #222;
            background-color: #e9eaea;
        }




/**********   TEMA ESCURO     ***********/

        /******geral*******/
        body{
            background-color: #202124;
        }

        /***********header********/

        .icon-pesquisa-dark{
            margin: 3px;
            padding: 8px;
            color: #e2e2e3;
        }

        .icon-pesquisa-dark:active{
            border-radius: 50px;
            color: #e4e4e5;
            background-color: #2f3034;
        }

        .icon-menuhamburguer-dark{
            width: 24px;
            height: 24px;
            color: #e2e2e3;
        }

        .icon-menuhamburguer-dark:active{
            border-radius: 50px;
            background-color: #2f3034;
        }

        
        /**************header-left***************/
        .links-menulateral-dark{
            color: #e8eaed;
            border-radius: 0 25px 25px 0;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: 16px;
            margin-left: 20px;
            line-height: 18px;
            font-weight: 500;
        }

        .icons-menulateral-dark{
            width: 48px;
            height: 24px;
            color: #9aa0a6;
        }

        .icons-menulateral-dark:active{
            color: #e8eaed;
        }

        .menu-lateral-dark:hover{
            background-color: #28292c;
        }

        .menulateral-dark:active{
            background-color: #41331c;
        }

        
        /**********Notas***************/
        .notas-dark{
            background-color: #202124;
            border: 1px solid transparent;
            border-radius: 8px;
        }

        .titulo-notas-dark{
            color: #e8eaed;
            letter-spacing: 1px;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: 1em;
            font-weight: 500;
            line-height: 1.5em;
            padding-top: 12px;
        }

        .conteudo-notas-dark{
            color: #e8eaed;
            letter-spacing: 1px;
            font-family: 'Roboto',Arial,sans-serif;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5rem;
        }

        .nota-azul-dark{
            background-color: #1e3a5f;
        }

        .nota-laranja-dark{
            color: #5c2b29;
        }

        .icons-notas-dark{
            color: #bebfbf;
        }

        .fechar-notas-dark{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            margin-right: 15px;
            color: #dadce0;
            letter-spacing: .01785714em;
            font-family: 'Google Sans','Roboto',Arial,sans-serif;
            font-size: .875rem;
            font-weight: 500;
            line-height: 1.25rem;
            height: 36px;
            padding: 8px 24px;
        }

        .fechar-notas-dark:hover{
            background-color: #25262a;

        }

        .icons-notas-dark:hover{
            border-radius: 50%;
            color: #e1e1e2;
            background-color: #313236;
        }