/***********   TEMA CLARO   *************/

/******************geral******************/

.menu::after {
    content: '';
    display: inline-block;
    clear: both;
}

ul {
    list-style-type: none;
}

.container-fluid {
    padding: 0;
}

body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 0;
    padding: 0;
    height: 100%;
    transition: 0.3s;
}

a:hover {
    text-transform: none;
    text-decoration: none;
}

/***********header********/
/**fixed top*/

.nav1 {
    width: 100%;
    border-bottom: 0.0001px solid #daced0;
    border-top: 0.0001px solid #dadce0;
    top: 0;
    right: 0;
    left: 0;
    padding-left: 0;
    padding-right: 0;
    z-index: 0;
    display: inline-block;
}

.icon-pesquisa {
    font-family: "lupa";
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    width: 1em;
    padding: 8px;
    margin: 3px;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    margin-left: .2em;
    color: #767676;
}

.icon-pesquisa:active {
    font-family: 'search';
    border-radius: 50px;
    color: #2222;
    background-color: #ebecec;
}

.pesquisar {
    position: relative;
}

.pesquisar span {
    position: absolute;
    padding-top: 14px;
    padding-left: 4px;
    color: #5f6368;
}

.pesquisar input {
    background: #f1f3f4;
    width: 700px;
    height: 50px;
    padding-left: 50px;
    padding-right: 20px;
    border: 0;
}

.pesquisar input:focus {
    box-shadow: 0 0 0 0;
    box-shadow: 1px 1px 5px #babbbc;
    border: 0;
    border: #b5b6b8;
}

.keep {
    font-family: 'GoogleSansRegular';
    font-size: 22px;
    color: #5f6368;
}

.keep span:hover{
    color: #5f6368;
}

input[type="checkbox"] {
    display: none;
    margin-left: 20em;
}

.icon-moon {
    display: none;
}

.icon-sun {
    color: #000;
    margin-top: .5em;
}

.icons-darkmode {
    font-size: 1.4rem;
    cursor: pointer;
    width: 150px;
    height: 150px;
    margin-left: 10em;
}

.logo {
    width: 40px;
    height: 40px;
}

/****abas/localizadas-menulateral**/

.abas {
    margin-top: 20vh;
}

.nome-topo {
    margin-left: 10px;
    font-family: 'GoogleSansRegular';
    margin-top: 20px;
    font-size: 22px;
    color: #5f6368;
}

.icone-abas {
    margin-left: 60%;
    align-items: center;
    font-size: 8em;
    color: #ccc;
    height: 120px;
    opacity: 1;
    width: 120px;
}

.marcador-abas {
    margin-left: 60%;
    transform: rotate(270deg);
}

.text-abas {
    margin-left: 15em;
    margin-top: 40px;
    color: #5f6368;
    cursor: default;
    font-family: 'GoogleSansThin';
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: 1px;
    text-align: center;
    align-items: center;
    line-height: 1.75rem;
}

/****   botao    ***/
.botao-nav {
    margin-left: 10px;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
}

.botao-nav:hover {
    background-color: #e8eaed;
}

.btn-menu {
    background: none;
    margin-top: 18px;
    border: none;
    cursor: pointer;
}

.btn-menu button:active {
    background-color: #ebecec;
}

.linhas {
    margin-bottom: 4px;
}

.linha {
    background-color: #5f6368;
    width: 20px;
    height: 2px;
}

.btn-menu:hover {
    background-color: #e8eaed;
}

button span {
    color: #202124;
}

/*responsive*/
#nav-principal {
    background-color: #fff;
    width: 320px;
    height: 100vh;
    z-index: 5;
    left: 0;
    top: 0;
    transition: all 0.4s ease-in-out;
    transform: translateX(-1500px);
    margin-top: 70px;
    padding-top: 5px;
    position: fixed;
    cursor: pointer;
}

body.active #nav-principal {
    transform: translateX(0);
}

.navbar-menu .navbar-nav {
    flex-wrap: wrap;
}

.navbar-menu {
    display: flex;
    transition: all 0.5s ease;
}

.navbar ul {
    position: fixed;
    display: inline-block;
}

.menu-lateral .navbar .nav-item {
    cursor: pointer;
    width: 100%;
    text-align: left;
    list-style: none;
    display: flex;
    padding-left: 0 12px;
    border-radius: 0 25px 25px 0;
}

.menu-lateral .navbar .nav-item a {
    display: block;
    padding: 15px;
    font-family: 'GoogleSansThin';
    letter-spacing: 2px;
    font-size: 14px;
    font-weight: bold;
    margin-left: 20px;
    line-height: 18px;
    color: #202124;
    border-radius: 10px;
    height: 48px;
}

.navbar .nav-item span {
    font-weight: 600;
}

.menu-lateral .nav-item:hover {
    background-color: #f1f3f4;
}

.menu-lateral .nav-item:active {
    background-color: #feefc3;
}

.icons {
    color: #5f6368;
    margin-top: 12px;
    width: 24px;
    margin-right: 10px;
}

.icons:active {
    color: #202124;
}

li .icon-bookmark-empty {
    transform: rotate(270deg);
    margin-left: 10px;
    margin-top: 17px;
    color: #5f6368;
    width: 24px;
    height: 24px;
}

.icon-bookmark-empty:active {
    color: #202124;
}

.text-lateral {
    font-family: "robotoregular";
    margin-top: 19em;
    color: #5f6368;
    cursor: pointer;
    font-size: 12px;
    padding: 2px 5px;
    text-decoration: none;
    white-space: nowrap;
}

/**********Notas***************/

.notas {
    display: grid;
    text-align: center;
    padding: 10px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    margin: 10px;
    margin-left: 0;
    max-width: 450px;
    min-width: 300px;
    cursor: pointer;
}

.notas:hover {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.3);
}

.notas-container,
.row {
    margin-right: 100px;
}

.titulo-notas {
    color: #202124;
    letter-spacing: 1px;
    font-family: 'GoogleSansBold';
    font-size: 1em;
    font-weight: 500;
    padding-top: 12px;
}

.conteudo-notas {
    color: #202124;
    letter-spacing: 1px;
    font-family: 'GoogleSansMedium';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5rem;
}

.nota-azul {
    background-color: #aecbfa;
    border: #aecbfa;
}

.nota-laranja {
    background-color: #f28b82;
    border: #f28b82;
}

.icons-notas {
    color: #4a4a4a;
}

.fechar-notas {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin-right: 15px;
    color: rgba(0, 0, 0, .87);
    letter-spacing: .01785714em;
    font-family: 'GoogleSansRegular';
    font-size: .875rem;
    font-weight: 500;
    line-height: 1.25rem;
    height: 36px;
    padding: 8px 24px;
}

.fechar-notas:hover {
    background-color: #f9f9f9;
}

.icons-notas:hover {
    border-radius: 50%;
    color: #222;
    background-color: #e9eaea;
}


/**********   DARKMODE     ***********/

/**abas - dark  **/
.dark .abass {
    background-color: #202124;
}

.dark .nome-topo {
    color: #e2e2e3;
}

.dark .icone-abas {
    color: #4d4d50;
}

.dark .marcador-abas {
    color: #4d4d50;
}

.dark .text-abas {
    color: #9aa0a6;
}

/**   menu topo fixo - dark  **/

.dark,
.dark nav {
    background-color: #202124;
    color: #ccc;
}

.dark .nav1{
    border-color: #5f6368;
}

.dark .keep{
    color: #e2e2e3;
}

.dark .icon-sun {
    display: none;
}

.dark .icon-moon {
    display: inline;
}

.dark .pesquisar input {
    background-color: #525355;
    box-shadow: none;
}

.dark .pesquisar span{
    color: #e4e4e5;
}

.dark .icon-pesquisa span:active {
    color: #5f6368;
}

/****   botao - dark  ***/
.dark .botao-nav:hover {
    background-color: #2f3034;
}

.dark .btn-menu button:active {
    background-color: #2f3034;
}

.dark .linha {
    background-color: #e4e4e5;
}

.dark .btn-menu:hover{
    background-color: #2f3034;
}


/**   menu lateral - dark  **/
.dark #nav-principal {
    background-color: #202124;
}

.dark .menu-lateral .nav-item:hover {
    background-color: #28292c;
}

.dark .menu-lateral .nav-item:active {
    background-color: #41331c;
}

.dark .menu-lateral .nav-item a{
    color: #e8eaed;
}

.dark .icons {
    color: #9aa0ac;
}

.dark .icon-bookmark-empty{
    color: #9aa0ac;
}

.dark .icons:active {
    color: #e8eaed;
}

.dark .icon-bookmark-empty:active{
    color: #e8eaed;
}

.dark li .text-lateral{
    color: #9aa0a6;
}

/**  notas - dark  **/
.dark .notas {
    border-color: #5f6368;
}

.dark .nota-azul{
    background-color: #1e3a5f;
    border-color: #1e3a5f;
}

.dark .nota-laranja {
    background-color: #5c2b29;
    border-color: #5c2b29;
}

.dark .titulo-notas {
    color: #e8eaed;
}

.dark .conteudo-notas {
    color: #e8eaed;
}

.dark .icons-notas {
    color: #bebfbf;
}

.dark .fechar-notas:hover {
    background-color: #f9f9f9;
}

.dark .icons-notas:hover {
    border-radius: 50%;
    color: #222;
    background-color: #e9eaea;
}

/*****    media queries - dark  ***/


/****   MAX : 902PX   *********/

@media(max-width: 902px) {
    .pesquisar input {
        display: none;
    }

    .pesquisar span {
        display: block;
        width: 10px;
    }

    .darkmode span .icons-darkmode {
        padding: 0;
        margin: 0%;
    }

    .keep,
    .botao-nav {
        padding: 0;
    }

    .btn-menu {
        margin-left: 15px;
    }
}

/********** MAX:768PX ************/

@media(max-width:768px) {
    .keep {
        display: block;
        max-width: fit-content;
    }

    .text-abas {
        margin-left: 8em;
    }

}

/********** MAX:420PX ************/

@media(max-width:420px) {
    .keep {
        display: block;
    }
}

/********** MAX:450PX ************/

@media(max-width:450px) {
    .icons-darkmode {
        margin-left: 20px;
    }

    .notas {
        width: 12vh;
        margin: 15px 0;
    }

    .notas-container {
        width: 100px;
    }
}

/********** 902-1100 ************/

@media(min-width:902px) and (max-width:1100px) {
    .pesquisar input {
        width: 600px;
    }
    .botao-nav{
        margin:0;
        margin-left: 5px;
    }
}