@font-face {
    font-family: "robotoblack";
    src: url("../font/Roboto/Roboto-Black.ttf")
}

@font-face {
    font-family: "robotoblackitalic";
    src: url("../font/Roboto/Roboto-BlackItalic.ttf")
}

@font-face {
    font-family: "robotobold";
    src: url("../font/Roboto/Roboto-Bold.ttf")
}

@font-face {
    font-family: "robotobolditalic";
    src: url("../font/Roboto/Roboto-BoldItalic.ttf")
}

@font-face {
    font-family: "robotoregular";
    src: url("../font/Roboto/Roboto-Regular.ttf")
}

@font-face {
    font-family: "robotomedium";
    src: url("../font/Roboto/Roboto-Medium.ttf")
}

@font-face {
    font-family: "robotomediumitalic";
    src: url("../font/Roboto/Roboto-MediumItalic.ttf")
}

@font-face {
    font-family: "robotothin";
    src: url("../font/Roboto/Roboto-Thin.ttf")
}

@font-face {
    font-family: "robotothinitalic";
    src: url("../font/Roboto/Roboto-ThinItalic.ttf")
}

@font-face {
    font-family: "robotoitalic";
    src: url("../font/Roboto/Roboto-Italic.ttf")
}

@font-face {
    font-family: "robotolight";
    src: url("../font/Roboto/Roboto-Light.ttf")
}

@font-face {
    font-family: "robotolightitalic";
    src: url("../font/Roboto/Roboto-LightItalic.ttf")
}